servidor/facturacion/lib/factura_v1_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Esquema estructural local de la Factura Electrónica del SRI (codDoc 01),
  usado para validar el XML generado por FacturaXmlBuilder: nombres,
  jerarquía, orden y obligatoriedad de las etiquetas implementadas.

  Refleja el esquema público y estable "factura v1.1.0" del SRI a partir
  del conocimiento de su estructura documentada; no es una copia del XSD
  oficial (no se dispuso de acceso a internet ni al archivo original
  durante su elaboración). Antes de un uso real ante el SRI, contrastar
  contra el XSD oficial publicado en la Ficha Técnica vigente.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

  <xs:element name="factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="infoTributaria" type="InfoTributaria"/>
        <xs:element name="infoFactura" type="InfoFactura"/>
        <xs:element name="detalles" type="Detalles"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="InfoTributaria">
    <xs:sequence>
      <xs:element name="ambiente" type="xs:string"/>
      <xs:element name="tipoEmision" type="xs:string"/>
      <xs:element name="razonSocial" type="xs:string"/>
      <xs:element name="nombreComercial" type="xs:string" minOccurs="0"/>
      <xs:element name="ruc" type="xs:string"/>
      <xs:element name="claveAcceso" type="xs:string"/>
      <xs:element name="codDoc" type="xs:string"/>
      <xs:element name="estab" type="xs:string"/>
      <xs:element name="ptoEmi" type="xs:string"/>
      <xs:element name="secuencial" type="xs:string"/>
      <xs:element name="dirMatriz" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InfoFactura">
    <xs:sequence>
      <xs:element name="fechaEmision" type="xs:string"/>
      <xs:element name="contribuyenteEspecial" type="xs:string" minOccurs="0"/>
      <xs:element name="obligadoContabilidad" type="xs:string"/>
      <xs:element name="tipoIdentificacionComprador" type="xs:string"/>
      <xs:element name="razonSocialComprador" type="xs:string"/>
      <xs:element name="identificacionComprador" type="xs:string"/>
      <xs:element name="direccionComprador" type="xs:string" minOccurs="0"/>
      <xs:element name="totalSinImpuestos" type="xs:string"/>
      <xs:element name="totalDescuento" type="xs:string"/>
      <xs:element name="totalConImpuestos" type="TotalConImpuestos"/>
      <xs:element name="propina" type="xs:string"/>
      <xs:element name="importeTotal" type="xs:string"/>
      <xs:element name="moneda" type="xs:string"/>
      <xs:element name="pagos" type="Pagos"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TotalConImpuestos">
    <xs:sequence>
      <xs:element name="totalImpuesto" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codigo" type="xs:string"/>
            <xs:element name="codigoPorcentaje" type="xs:string"/>
            <xs:element name="baseImponible" type="xs:string"/>
            <xs:element name="valor" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pagos">
    <xs:sequence>
      <xs:element name="pago" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="formaPago" type="xs:string"/>
            <xs:element name="total" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Detalles">
    <xs:sequence>
      <xs:element name="detalle" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codigoPrincipal" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
            <xs:element name="cantidad" type="xs:string"/>
            <xs:element name="precioUnitario" type="xs:string"/>
            <xs:element name="descuento" type="xs:string"/>
            <xs:element name="precioTotalSinImpuesto" type="xs:string"/>
            <xs:element name="impuestos">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="impuesto" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="codigo" type="xs:string"/>
                        <xs:element name="codigoPorcentaje" type="xs:string"/>
                        <xs:element name="tarifa" type="xs:string"/>
                        <xs:element name="baseImponible" type="xs:string"/>
                        <xs:element name="valor" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
